{{ with .Site.Data.clients }}
  {{ if .enable }}
  <section class="site-client" style="background-color: #1A1A1A">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 style="color: white">{{ .title }}</h2>
          </div>
          <div class="site-client-wrapper">
            {{ range .clients }}
            <div style="filter: brightness(0) invert(1); display: flex; align-items: center;" class="site-client-item">
              <a href="{{ .url | absURL }}" target="_blank" rel="noreferrer">
                <img src="{{ .image | absURL }}" alt="client-logo" style="width: 100px" />
              </a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}