{{ define "main" }}

<section class="site-project-single-section" style="background-color: #1A1A1A;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-single">
          <h1 style="color: #F0F0F0;">
            {{ .Title }}
          </h1>
          <div class="site-project-single-description">
            {{ .Content }}
          </div>
          <div class="site-project-single-image">
            {{ range .Params.project_images }}
            <img src="{{ . | absURL }}" alt="project image" style="margin-bottom: 30px;">
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}