{{ define "main" }}

<section class="site-about-header" style="background-color: #1A1A1A;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-expertise" style="background-color: #1A1A1A;">
  <div class="container">
    <div class="row">
      {{ with .Params.expertise_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2 style="color: white">{{ . }}</h2>
        </div>
      </div>
      {{ end }}
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range .Params.expertise_sectors }}
          <li style="color: white">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ partial "team.html" . }}

{{ end }}